---
title: About
layout: info
---

<p>
  Columbia University Science Olympiad is an undergraduate student group
  dedicated to fostering an active community of Science Olympiad alumni and
  improving the experience of middle and high school students involved in
  Science Olympiad. We were founded by Ryan Anselm, Eric Mao, and Aunika Zheng
  (Class of 2024) in Spring 2022 and hosted our first tournament in the
  2022-2023 season. We are an entirely student-run organization and are
  dedicated to providing a fun and educational experience for all competitors.
  While our biggest event each year is our Division C invitational, typically
  held towards the end of January each year, we also seek to provide resources
  and volunteer in the surrounding community. If you are a Columbia student
  interesting in getting involved, join our member mailing list to stay updated!
</p>
<div class="container">
  <div class="title-section">
    <h2>Meet the Team</h2>
  </div>
  {% for role in site.data.eboard-members %}
  <h4>{{ role.name }}</h3>
  <div class="row">
    {% for member in role.members %}
    <div class="col-md-6 col-lg-3">
      <div class="img-block mb-5">
        <img
          src="./assets/images/headshots/{{ member.image_name }}"
          class="img-fluid img-thumbnail rounded-circle"
          alt="{{ member.name }} headshot"
        />
        <div class="content mt-2">
          <h4>{{ member.name }}</h4>
          <p class="text-muted">{{ member.year}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<h2>Hall Of Fame (Past Tournament Directors)</h2>
<ul>
  <li>2022-2023: Ryan Anselm and Eric Mao</li>
  <li>2023-2024: Kaylee Fang and Ania Krzyżańska</li>
  <li>2024-2025: Kaylee Fang and Tanmay Gupta</li>
</ul>
