---
title: About
layout: info
---

<p>
  Columbia University Science Olympiad is an undergraduate student group
  dedicated to fostering an active community of Science Olympiad alumni and
  improving the experience of middle and high school students involved in
  Science Olympiad. We were founded by Ryan Anselm, Eric Mao, and Aunika Zheng
  (Class of 2024) in Spring 2022 and hosted our first tournament in the
  2022-2023 season. We are an entirely student-run organization and are
  dedicated to providing a fun and educational experience for all competitors.
  While our biggest event each year is our Division C invitational, typically
  held towards the end of January each year, we also seek to provide resources
  and volunteer in the surrounding community. If you are a Columbia student
  interesting in getting involved, join our member mailing list to stay updated.
</p>

<!-- <h2>We are currently updating, stay tuned!</h2>
{% for role in site.data.eboard-members %}
<h2>{{ role.name }}</h2>
<div class="tile is-ancestor team-card">
  {% for member in role.members %}
  <div class="tile is-parent is-6">
    <div class="card is-child">
      <div class="card-image">
        <div class="overlay-container">
          <figure class="image is-4by3">
            <img
              src="./assets/images/headshots/{{ member.image_name }}"
              alt="{{ member.name }} headshot"
            />
          </figure>
          <p class="body is-size-6 is-size-7-touch">{{ member.description }}</p>
        </div>
      </div>
      <div class="card-content">
        <div class="title is-5">{{ member.name }}</div>
        <div class="subtitle">{{ member.year }}</div>
        <p class="is-size-6 is-size-7-mobile mobile-only-text">
          {{ member.description }}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %} -->

{% for role in site.data.eboard-members %}
<div class="container">
  {% for member in role.members %}
  <div class="at-section">
    <div class="at-section__title">The Team</div>
  </div>
  <div class="at-grid" data-column="3">
    <div class="at-column">
      <div class="at-user">
        <div class="at-user__avatar">
          <img src="user.avatar" alt="User Avatar" />
        </div>
        <div class="at-user__name">member.name</div>
        <div class="at-user__title">role.name</div>
        <div class="at-user__desc">
          <p>member.description</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}

<h2>Hall Of Fame (Past Presidents)</h2>
<ul>
  <li>2022: Ryan Anselm ❤️, and Eric Mao</li>
  <li>Current: Ania, and Kaylee</li>
</ul>
