---
title: About
layout: info
---

<p>
  Science Olympiad at MIT is an undergraduate student group that first started
  out as volunteers to local tournaments in Spring 2022. We were founded by Ryan
  Anselm, Eric Mao, and Aunika Zheng (2024) for our first tournament of the 2023
  season. We passionate about Science Olympiad and want to share our love for
  the competition with the community. We are entirely run by students and are
  dedicated to providing a fun and educational experience for all competitors.
  While our biggest milestone each year is our invitational, we also push to
  provide resources and volunteer in the surrounding community. If you are
  interesting in joining contact us and check out our current team. In the end,
  we want to have fun!
</p>

{% for role in site.data.eboard-members %}
<h2>{{ role.name }}</h2>
<div class="tile is-ancestor team-card">
  {% for member in team.members %}
  <div class="tile is-parent is-6">
    <div class="card is-child">
      <div class="card-image">
        <div class="overlay-container">
          <figure class="image is-4by3">
            <img
              src="./assets/images/headshots/{{ member.image_name }}"
              alt="{{ member.name }} headshot"
            />
          </figure>
          <p class="is-size-6 is-size-7-touch">{{ member.description }}</p>
        </div>
      </div>
      <div class="card-content">
        <div class="title is-5">{{ member.name }}</div>
        <div class="subtitle">{{ member.year }}</div>
        <p class="is-size-6 is-size-7-mobile mobile-only-text">
          {{ member.description }}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}

<h2>Hall Of Fame (Past Presidents)</h2>
<ul>
  <li>2022: Ryan Anselm ❤️, and Eric Mao</li>
  <li>Current: Ania, and Kaylee</li>
</ul>
