<!-- Site footer -->

<div class="container">
  <footer class="footer">
    <div class="col-xs-4 footer-title body">CUSO</div>
    <div class="col-xs-2 footer-title body">
      Cuso
      <ul class="list-style ps-0">
        <li class="pl-0 pb-3">
          <a href="/index" class="body">Home</a>
        </li>
        <li class="pb-3 body">
          <a href="/tournament" class="body">Explore</a>
        </li>
        <li class="pb-3 body">
          <a href="/results" class="body">Past Results</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-2 footer-title body">
      Our Team
      <ul class="list-style ps-0">
        <li class="pb-3 body">
          <a href="/about" class="body">About Us</a>
        </li>
        <li class="pb-3 body">
          <a href="/contact" class="body">Our Mission</a>
        </li>
        <li class="pb-3 body">
          <a href="/contact" class="body">Join Us</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-2 footer-title body">
      Contact
      <ul class="list-style ps-0">
        <li class="pb-3 body">
          <a href="https://youtu.be/j5a0jTc9S10" class="body">TikTok</a>
        </li>
        <li class="pb-3 body">
          <a
            href="https://www.instagram.com/columbiascienceolympiad/"
            class="body"
            >Instagram</a
          >
        </li>
        <li class="pb-3 body">
          <a href="mailto: columbiascienceolympiad@gmail.com" class="body"
            >Email</a
          >
        </li>
      </ul>
    </div>
    <div class="col-xs-2 footer-title body">
      Resources
      <ul class="list-style ps-0">
        <li class="pb-3 body">
          <a href="https://youtu.be/j5a0jTc9S10" class="body">Join Our Club</a>
        </li>
        <li class="pb-3 body">
          <a href="https://youtu.be/j5a0jTc9S10" class="body">Email Us</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
<div class="end-gradient"></div>
