<!-- Site footer -->

<div class="container">
  <footer class="footer">
    <div class="col-xs-4 footer-title body">CUSO</div>
    <div class="col-xs-2 footer-title body">
      Cuso
      <ul class="list-style ps-0">
        <li class="pl-0 pb-3">
          <a href="/index" class="body">Home</a>
        </li>
        <li class="pb-3 body">
          <a href="/results" class="body">Results</a>
        </li>
        <li class="pb-3 body">
          <a href="/location" class="body">Map</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-2 footer-title body">
      Our Team
      <ul class="list-style ps-0">
        <li class="pb-3 body">
          <a href="/about" class="body">About</a>
        </li>
        <li class="pb-3 body">
          <a href="/volunteer" class="body">Sign Up</a>
        </li>
        <li class="pb-3 body">
          <a href="/contact" class="body">Team</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-2 footer-title body">
      Contact
      <ul class="list-style ps-0">
        <li class="pb-3 body">
          <a href="https://youtu.be/j5a0jTc9S10" class="body">TikTok</a>
        </li>
        <li class="pb-3 body">
          <a
            href="https://www.instagram.com/columbiascienceolympiad/"
            class="body"
            >Instagram</a
          >
        </li>
        <li class="pb-3 body">
          <a href="https://youtu.be/j5a0jTc9S10" class="body">Threads</a>
        </li>
        <li class="pb-3 body">
          <a href="mailto: columbiascienceolympiad@gmail.com" class="body"
            >Email</a
          >
        </li>
      </ul>
    </div>
    <div class="col-xs-2 footer-title body">
      Resources
      <ul class="list-style ps-0">
        <li class="pb-3 body">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSek7v3_c78jiblS171_KaIOocF7J_H9RhhzR9rshwUu8pP_hw/viewform"
            class="body"
            >Mailing List</a
          >
        </li>
        <li class="pb-3 body">
          <a href="/volunteer" class="body">Volunteer</a>
        </li>
        <li class="pb-3 body">
          <a href="/help" class="body">Help</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
<div class="end-gradient"></div>
