<!-- Site footer -->

<div class="container">
  <footer class="footer">
    <div class="col-sm-4 footer-title body">
      Cuso
      <ul class="list-style ps-0">
        <li class="pl-0 pb-3 body">Home</li>
        <li class="pb-3 body">Explore</li>
      </ul>
    </div>
    <div class="col-sm-2 footer-title body">
      Our Team
      <ul class="list-style ps-0">
        <li class="pb-3 body">About Us</li>
        <li class="pb-3 body">Our Mission</li>
        <li class="pb-3 body">Join Us</li>
      </ul>
    </div>
    <div class="col-sm-2 footer-title body">
      Contact
      <ul class="list-style ps-0">
        <li class="pb-3 body">Tiktok</li>
        <li class="pb-3 body">Instagram</li>
        <li class="pb-3 body">Email</li>
      </ul>
    </div>
    <div class="col-sm-4 footer-title body">
      Join Our Mailing List
      <ul class="list-style ps-0">
        <li class="pb-3 body">Sign Up</li>
        <li class="pb-3 body">Email Us</li>
      </ul>
    </div>
  </footer>
</div>
<div class="end-gradient"></div>
