<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="logo" class="logo" />
      </a>
      <a class="navbar-brand" href="#" class="navbar-text">
        Columbia University Science Olympiad
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navbar-brand" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">Past Results</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">Tournament</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
