<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container right-align">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="logo" class="logo" />
      </a>
      <a class="navbar-brand" href="/index" class="navbar-text">
        Columbia University Science Olympiad
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse arange-items" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="/index"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/results">Results</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="/tournament-info">Tournament</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary grey-button-nav" href="/contact"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
