<nav data-toggled="false" data-transitionable="false">
    <div id="nav-logo-section" class="nav-section">
      <a href="/">
        <img src="/assets/images/logo.png" class="logo-img" alt="Columbia University Science Olympiad Logo">
        <!-- <img src="/assets/images/city_logo.png" class="logo-img" alt="Columbia University Science Olympiad Logo"> -->
      </a>
      <div>
        <a href="/">
          <p class = "logo-name">Columbia University </p> <p class="logo-name"> Science Olympiad </p>
        </a>
      </div>
    </div>
    <div id="nav-mobile-section">
      <div id="nav-link-section" class="nav-section">
        <a href="/">Home</a>
        <a href="/registration/">Registration</a>
        <a href="/tournament-info/">Tournament Info</a>
        <a href="/results/">Results</a>
      </div>
      <div id="nav-social-section" class="nav-section">
        <a href="#">
          <i class="fa-solid fa-medal fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/columbiascienceolympiad" target="_blank">
          <i class="fa-brands fa-instagram fa-2x"></i>
        </a>
        <a href="#">
          <i class="fa-regular fa-envelope fa-2x"></i>
        </a>
      </div>
      <div id="nav-contact-section" class="nav-section">
        <a href="/about">ABOUT US</a>
      </div>
    </div>
    <button id="nav-toggle-button" type="button" onclick="handleNavToggle()">
      <span>Menu</span>
      <i class="fa-solid fa-bars"></i>
    </button>
</nav>
