.blur {
    background-color: black;
}
.image {
    background: url(../images/campus.png) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
    filter: blur(4px) grayscale(0.1);
    align-content: center;
    /* add a opacity here for the background */
    opacity: 0.5;
}
.image-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 10px;
    color: white;
}
.heading {
    padding-top: 200px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add text shadow for more contrast */
    position: relative;
    z-index: 5;
}
.image-text p {
    text-align: center;
    padding: 10px 30px;
}
.image-text p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.6em;
}
.image-text p .btn:hover {
    color: #c57ed3;
    border-color: #c57ed3;
}
.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
    display: flex;
    justify-content: space-between;
}
.navbar-header {
    float: left;
}
.navbar-default .navbar-brand {
    margin-top: 10px;
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: #6786c0;
    border: 1px solid #5585a5;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    margin: 10px 5px 5px 5px;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
    background-color: #a3bfe2;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
    color: black;
    transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
    color: black;
    transition: color 1s ease 0s;
}

/* space <a> tags evenly */
.links {
}

.info-item {
    background-color: white;
    height: 80vh;
}
