@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

:root {
    --black: rgba(0, 0, 0, 1);
    --trout: rgba(75, 79, 100, 1);
    --half-baked: rgba(131, 188, 221, 1);
    --white: rgba(255, 255, 255, 1);
    --cornflower: rgba(147, 211, 225, 1);

    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-size-xxl: 32px;
    --font-size-header: 40px;
    --font-size-title: 64px;

    --font-family: "Outfit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.info-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.city-pic {
    overflow: hidden;
    height: 360px;
}

.section-header {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    text-align: left;

    color: #000000;
}

.blue-button {
    text-decoration: none;
    color: white;
}

.white-button {
    text-decoration: none;
    color: black;
}

.results-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-image-container {
    width: 970px;
    height: 450px;
}

.section-sm-text {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    text-transform: capitalize;

    color: #000000;
}

.title {
    font-family: var(--font-family);
    font-size: var(--font-size-title);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    font-style: normal;
}

.body {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
}

.outfit-normal-black-40px {
    font-family: var(--font-family);
    font-size: var(--font-size-header);
    color: var(--black);
    font-weight: 400;
    font-style: normal;
}

.outfit-medium-white-20px {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    color: var(--white);
    font-weight: 500;
    font-style: normal;
}

.outfit-bold-black-20px {
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    color: var(--black);
    font-weight: 700;
    font-style: normal;
}

.subHeader {
    font-family: var(--font-family);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
}

.blur {
    background-color: black;
}
.image {
    background: url(../images/campus.png) no-repeat center center;
    background-size: cover;
    height: 570px;
    margin-top: -20px;
    filter: blur(4px) grayscale(0.1);
    align-content: center;
    /* add a opacity here for the background */
    opacity: 0.5;
}
.image-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 10px;
    color: white;
}
.heading {
    padding-top: 200px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add text shadow for more contrast */
    position: relative;
    z-index: 5;
}
.image-text p {
    text-align: center;
    padding: 10px 30px;
}
.image-text p .btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 0.6em;
}
.image-text p .btn:hover {
    color: #c57ed3;
    border-color: #c57ed3;
}

.transparent-navbar {
    background-color: transparent;
}

.background-colors {
    background: linear-gradient(180deg, #e3e0ff 0%, #fdfdfe 100%);
}

.hero-center {
    text-align: center;
}
