.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-default {
    .navbar-brand {
        margin-top: 10px;
        color: white;

        &:hover {
            color: #c57ed3;
            border: 1px solid #c57ed3;
        }
    }

    .navbar-nav {
        > li {
            > a {
                color: white;
                margin: 10px 5px 5px 5px;
            }
            > a:hover,
            > a:active,
            > a:focus {
                color: #c57ed3;
                border: 1px solid #c57ed3;
            }
            > a:visited {
                color: #c57ed3;
                text-decoration: none;
            }
        } //end li

        > .active {
            > a,
            > a:hover,
            > a:focus {
                background-color: transparent;
                color: #c57ed3;
            }
        }
    } //end .navbar-nav

    //Collapsed styles
    .navbar-toggle {
        border-color: #c57ed3;

        &:hover,
        &:focus {
            background-color: #490d40;
        }

        .icon-bar {
            color: #c57ed3;
            background-color: #c57ed3;
        }
    }

    .navbar-collapse.collapse.in ul {
        background-color: #490d40;
    }
} //end .navbar-default

/* Solid class attached on scroll past first section */

.navbar.solid {
    background-color: #490d40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;

    .navbar-brand {
        color: #c57ed3;
        transition: color 1s ease 0s;
    }

    .navbar-nav {
        > li {
            > a {
                color: #c57ed3;
                transition: color 1s ease 0s;
            }
        } //end li
    } //end .navbar-nav
}
