.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
    margin-top: 10px;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
    border: 1px solid white;
}

.navbar.solid {
    background-color: var(--cornflower);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
    color: white;
    transition: color 1s ease 0s;
}

.navbar.solid .navbar-nav > li > a {
    color: var(--cornflower);
    transition: color 1s ease 0s;
}
