.logo {
    width: 60px;
    height: 60px;
    margin-top: -20px;
}

.navbar {
    display: flex;
    align-items: space-between;
    background-color: var(--cornflower);
    height: 80px;
    box-shadow: 0 0 4px grey;
    border: none;
    color: white;
    z-index: 100;
}

.navbar-brand {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    color: var(--white);
    font-weight: 500;
    font-style: normal;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (min-width: 768px) {
    .right-align .navbar-nav {
        float: none;
    }
}
