.logo {
    width: 60px;
    height: 60px;
    margin-top: -20px;
}

.navbar {
    align-items: flex-start;
    height: 80px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-header {
    justify-content: left;
}

.navbar-brand {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size-m);
    color: var(--white);
    font-weight: 500;
    font-style: normal;
}

.navbar.solid {
    background-color: var(--cornflower);
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
    color: white;
    transition: color 1s ease 0s;
}
