/* Custom Prefix */
.at-section__title {
  margin: 0 0 70px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}

.at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
  border: 1px solid #e2e9ed;
}

.at-column {
  z-index: 0;
  position: relative;
  background: #fff;
  box-shadow: 0 0 0 1px #e2e9ed;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}

.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

.at-social {
  margin: 16px 0 0;
  opacity: 1;
  transition: margin 0.2s ease, opacity 0.2s ease;
}

.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}

.at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}

.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.at-user__name {
  color: #313435;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}

.at-user__title {
  color: #6f808a;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}

.at-social__item {
  display: inline-block;
  margin: 0 10px;
}

.at-social__item a {
  display: block;
}

.at-social__item svg {
  fill: #515f65;
  display: block;
  height: 18px;
  transition: fill 0.2s ease;
}

.at-social__item svg:hover {
  fill: #788d96;
}

/* Demo Purpose */
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 100px auto;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
}
